.bg-info {
    padding: 5px;
    margin: 0 0 5px 0;
}
#definition {
    max-width: 600px;
    border: 2px solid rgba(97, 173, 255, 0.51);
    padding: 5px;
}
#proofBox {
    max-width: 600px;
    border: 2px solid rgba(235, 150, 0, 0.5);
    padding: 5px;
    /*max-height: 150px;
    overflow-y: scroll;*/
}
.text-green {
    color: green;
}
.text-blue {
    color: blue;
}
.text-red {
    color: red;
}
.text-center {
    text-align: center;
}
#mynetwork {
    width: 650px;
    height: 400px;
    border: 1px solid lightgray;
}
#divNetworkDescription {
    width: 650px;
    margin-top: 10px;
    /*border: 1px solid lightgray;*/
}
#divNetworkDescription p {
    /*border: 1px solid lightgray;*/
    text-align: center;
}
#divStepButtons {
    text-align: center;
}
